@charset 'utf-8';

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", YuGothic, YuGothicM, "Meiryo", san-serif;
}

#top-screen {
  height: 100vh;
  background: no-repeat center url("../images/wallpaper-top.jpg");
  background-size: cover;
}

#navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#navbar #menuicon {
  color: #000 !important;
}
#navbar .brand-logo img {
  opacity: 1;
  width: 10rem;
  margin-left: 1rem;
}

/* scrolled until 100% */
#navbar.unscrolled {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: unset !important;
}
/* #navbar.unscrolled .nav-wrapper ul li a, 
#navbar.unscrolled #menuicon {
  color: #333;
}*/
#navbar.unscrolled .brand-logo img {
  opacity: 0;
}

/* scrolled anim */
#navbar.anim {
  transition: all .4s ease;
}
#navbar.anim .nav-wrapper ul li a,
#navbar.unscrolled #menuicon {
  transition: color .25s ease;
}
#navbar.unscrolled.anim .brand-logo img {
  transition: opacity .25s ease;
}

.special-page-link {
  color: #000 !important;
}
/* Logo */
.logo {
  font-family: "Century Gothic", YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", "Meiryo", san-serif;
  font-weight: bolder;
}
.logo h1 {
  margin: 1rem auto;
}
.logo h2,h3,p {
  margin: 0.25rem auto;
}
#thanks-logo img, #shikosai-textlogo img {
  margin: .5rem auto .5rem;
  max-width: 480px;
  min-width: 360px;
}
#thanks-logo img {
  width: 30%;
}
#shikosai-textlogo img {
  width: 40%;
}
#shikosai-logo { /* XXX */
  margin: 1rem auto;
  width: 40%;
  max-width: 420px;
  min-width: 320px;
  opacity: 0.9;
}

.schedule-date.show-on-medium-and-down {
  font-size: 2.4rem;
}
.parenthesis {
  font-size: 70%;
}
.kosen-text {
  margin: 1rem 0;
}

.scenery.row {
  position: absolute;
  bottom: 0;
  margin: 0;
}
.scenery.row .col {
  padding: 0;
}
.scenery.row .col img {
  vertical-align: bottom;
}

.sk-red {
  background: #fff0ed;
}
.sk-green {
  background: #f6fcef;
}
.sk-blue {
  background: #f0f8ff;
}

.top-section {
  width: 90%;
  margin: 0 5%;
}

.top-section h2 {
  position: relative;
  color: #4e4e4e;
}
.top-section h2::before {
  display: block;
  font-family: "Century Gothic", YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", "Meiryo", san-serif;
  font-size: 8rem;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: -1;
}
#top-about h2::before {
  content: "ABOUT";
  color: #ffebee;
}
#top-message h2::before {
  content: "MESSAGE";
  color: #e8f5e9;
}
#top-access h2::before {
  content: "ACCESS";
  color: #e3f2fd;
}
.section-text {
  font-size: 1.1rem;
}

.gallery .col {
  padding: 0;
  margin: 0 auto;
}
#top-message cite {
  line-height: 6rem;
  font-size: 1.2rem;
}

.page-footer * {
  color: #333;
}
.footer-contents span {
  line-height: 2rem;
  vertical-align: bottom;
}
.footer-contents .material-icons {
  font-size: 2rem;
  line-height: 2rem;
  vertical-align: middle;
}

@media screen and (max-width: 992px) {
  #navbar .brand-logo {
    font-size: 2rem;
    left: 4rem;
    transform: translateX(0);
  }
  #navbar .brand-logo img {
    margin: 0;
  }

  #thanks-logo img, #shikosai-textlogo img {
    max-width: 360px;
    min-width: 240px;
  }
  #shikosai-logo { /* XXX */
    max-width: 320px;
    min-width: 240px;
  }

  .googlemap {
    width: 90%;
    margin: 0 5%;
  }

  .top-section h2::before {
    font-size: 6rem;
  }
}

@media screen and (max-width: 480px) {
  #shikosai-textlogo img {
    max-width: 240px;
    width: 100%;
  }
  #thanks-logo img, #shikosai-textlogo {
    max-width: 240px;
    width: 90%;
  }
  
  .top-section h2 {
    font-size: 2rem;
  }
  .top-section h2::before {
    font-size: 4rem;
  }
}