@charset 'utf-8';

html, body {
  font-family: "Arial", "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", san-serif;
}

html, body, header, #above-nav {
  height: 100%;
}

header {
  background: no-repeat center url("../images/back3.jpg");
  background-size: cover;
  /*background-color: #f0f8ff;*/
}

#navbar {
  background-color: #009688;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#navbar.unscrolled #menuicon {
  color: #fff;
}

.brand-logo img {
  width: 10rem;
  vertical-align: middle;
  margin-left: 1rem;
}

/* scrolled 100% */
#navbar.unscrolled {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: unset !important;
}
#navbar.unscrolled .nav-wrapper ul li a, #navbar.unscrolled #menuicon {
  color: #333;
}
#navbar.unscrolled .brand-logo img {
  display: none;
}

/* scrolled anim */
#navbar.anim {
  transition: all .4s ease;
}
#navbar.anim .nav-wrapper ul li a, #navbar.unscrolled #menuicon {
  transition: color .25s ease;
}
#navbar.unscrolled.anim .brand-logo img {
  transition: color .25s ease;
}

#shikosai-logo {
  margin: 2rem auto 1rem;
  width: 40%;
  max-width: 420px;
  min-width: 320px;
  opacity: 0.9;
}

#shikosai-text img{
  margin: 1rem auto 1rem;
  width: 50%;
  max-width: 480px;
  min-width: 360px;
}

.kosen-text {
  margin: 1rem 0;
}

.scenery.row {
  position: absolute;
  bottom: 0;
}

.scenery.row .col img {
  vertical-align: bottom;
}

.sk-red {
  background: #fff0ed;
}
.sk-green {
  background: #f6fcef;
}
.sk-blue {
  background: #f0f8ff;
}

.logo {
  font-family: YuMincho, "Yu Mincho", serif;
  font-weight: bolder;
}
.logo h1 {
  margin: 1rem auto;
}
.logo h2,h3,p {
  margin: 0.25rem auto;
}
.parenthesis {
  font-size: 70%;
}

.scenery.row {
  margin: 0;
}
.scenery.row .col {
  padding: 0;
}

main {
  padding: 0 1rem;
}

.section-text {
  padding: 8rem 0 !important;
}

@media screen and (max-width: 992px) {
  
  #shikosai-logo {
    max-width: 360px;
    min-width: 0;
    width: 80%;
  }

  #shikosai-text img {
    max-width: 360px;
    min-width: 0;
    width: 90%;
  }

  #navbar .brand-logo {
    font-size: 2rem;
    left: 150px;
    margin-left: auto;
  }
  
}

@media screen and (max-width: 480px) {

  #shikosai-logo {
    max-width: 280px;
    width: 90%;
  }

  #shikosai-text img {
    max-width: 320px;
    width: 100%;
  }

}