@charset "utf-8";

$red: #F44336;
$lightred: #ffebee;
$green: #4CAF50;
$lightgreen: #e8f5e9;
$blue: #2196F3;
$lightblue: #e3f2fd;
$black: #333;
$grey: #c2c2c2;
$lightgrey: #e5e5e5;
$white: #fff;
$separator-grey: rgba(0, 0, 0, 0.12);

$serif: Georgia, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$sanserif: "Questrial", "Helvetica Neue", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", YuGothic, YuGothicM, "Meiryo", san-serif;
$logofont: "Century Gothic", 'Questrial', "Helvetica Neue", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", YuGothic, YuGothicM, "Meiryo", san-serif;

$tshadow: 4px 4px 1px rgba(80, 80, 80, 0.2);

$header-height: 64px;
