@charset 'utf-8';

body {
  color: #333333;
  font-family: "Questrial", "Helvetica Neue", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", YuGothic, YuGothicM, "Meiryo", san-serif;
  letter-spacing: .1rem;
}

/*** General Stylesheets ***/
/* font settings */
.sanserif-text { /* ゴシック体・サンセリフ体の書体 */
  font-family: "Century Gothic", "Questrial", YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", "Meiryo", san-serif !important;
}
.serif-text { /* 明朝体・セリフ体の書体 */
  font-family: Georgia, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif !important;
}
.bold { font-weight: bold; } /* 太字 */
.italic { font-style: italic; } /* 斜体 */
.ultra-large {font-size: 250%; } /* 極大 */
.very-large { font-size: 200%; } /* 超大 */
.large {font-size: 150%; } /* 大 */
.small { font-size: 80%; } /* 小 */
.very-small { font-size: 75%; } /* 微小 */ 
.underline { text-decoration: underline; } /* 下線 */

/* navbar */
#navbar {
  background-color: #fff;
  height: 64px;
  line-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-wrapper {
  position: relative;
}
.brand-logo { /* ナビバー上のロゴ */
  height: 100%;
  margin: auto;
}
.brand-logo img {
  height: 40px;
  margin: 12px 0 12px 1rem;
}

nav .sidenav-trigger {
  height: 64px;
}
.sidenav-trigger::before {
  color: #333;
  content: "MENU";
  font-family: "Century Gothic", 'Questrial' YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", "Meiryo", san-serif;
  font-size: 1.5rem;
  left: 0;
  position: absolute;
  margin-left: 36px;
  top: 0;
}
#menuicon {
  display: block;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: auto;
}

/* for PC navbar */
#nav-mobile li a {
  color: #333;
}
#nav-mobile li.right-border {
  border-right-width: 4px;
  border-right-style: solid;
}
#nav-mobile .active a {
  font-weight: bold !important;
}

/* for SP navbar */
#mobile-demo li a, #mobile-demo li a .material-icons{
  height: 100%;
}
#mobile-demo li a {
  padding: 8px 32px;
}
#mobile-demo li.bottom-border {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
.mobile-navbar-logo a {
  border-bottom: 2px #eee solid;
}
.mobile-navbar-logo img {
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

#mobile-demo .active a {
  font-weight: bold !important;
}
#mobile-demo .material-icons { color: unset; margin-right: 1rem !important;}
.red-border { border-color: #F44336 !important; }
.green-border { border-color: #4CAF50 !important; }
.blue-border { border-color: #2196F3 !important; }

.section-title {
  font-size: 3.5rem;
  letter-spacing: .2rem;
  text-shadow: 4px 4px 1px rgba(80, 80, 80, 0.2);
}

/* section-text */
.section-text {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 2vh 0;
}
.section-text > ul,
.section-text .row .col ul {
  font-size: 1.2rem;
  line-height: 200%;
}
.section-text cite {
  font-size: 1.5rem;
  line-height: 2rem;
}

/*** 一般 ***/
.nobr { white-space: nowrap; } /* 改行しない */
.no-margin { margin: 0; } /* 外側余白なし */
.no-padding { padding: 0; } /* 内側余白なし */
.left-float { float: left; } /* 左寄せ */
.right-float { float: right; } /* 右寄せ */
.clear-float { clear: both; } /* 寄せ解除 */

.left-float img {
  margin: 0 2rem 1rem 0;
}

.hover-anim:hover {
  opacity: .7;
  transition: all .3s linear;
}

/* 箇条マークありリスト */
.marked-list, .marked-list ul { margin-left: 2rem; }
.marked-list li { list-style-type: circle !important; }

.materialboxed {
  border-radius: 4px;
}

table {
  margin: 4vh auto;
}

.gallery {
  margin: 1rem auto;
}
.gallery .col {
  padding: 0;
  margin: 0;
}
.gallery .responsive-img {
  width: 90%;
  margin: 2vh 5%;
}
.gallery img.active {
  margin: 0 !important;
  max-width: unset;
}

/* table */
table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
table th {
  text-align: center;
}

.icon-wrapper {
  line-height: 2rem;
  vertical-align: bottom;
}
.material-icons {
  line-height: 2rem;
  vertical-align: bottom;
}

/* footer */
.page-footer * {
  color: #333;
}
#footer-logo {
  width: 50%;
}
.page-footer h5 {
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 3rem;
  margin: 1rem 0;
  vertical-align: text-bottom;
}
#footer-kosen-logo {
  height: 3rem;
  width: 3rem;
  margin-right: .2rem;
  vertical-align: bottom;
}
.right-side-footer {
  text-align: right;
}


/*** top-page ***/
/* 1枚分スクロールされていない */
#navbar.unscrolled {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: unset !important;
}
#navbar.unscrolled .brand-logo {
  transform: translateY(-200%);
}

/* 1枚分スクロールされた */
#navbar.anim {
  transition: all .3s ease;
}
#navbar.anim .brand-logo {
  transition: all .3s ease;
}

/* トップページ最上部 */
#top-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: url("/30/images/bg/bg-top.jpg") center center /cover no-repeat scroll;
  background-size: cover;
}

#thanks-logo {
  margin: 2rem auto;
  max-width: 400px;
  min-width: 300px;
  width: 30vw;
}
#shikosai-logo { /* XXX */
  margin: 1rem auto;
  max-width: 360px;
  min-width: 280px;
  width: 25vw;
}
.scenery.row {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
.scenery.row .col {
  padding: 0;
}
.scenery.row .col img {
  vertical-align: bottom;
}

#top .section-title {
  border-left: 12px solid;
  height: 120px;
  line-height: 120px;
  padding-left: 2rem;
  position: relative;
}

#top .section-title::before {
  font-family: "Century Gothic", YuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", "Meiryo", san-serif;
  font-size: 120px;
  line-height: 120px;
  position: absolute;
  right: 0;
  text-shadow: none;
  z-index: -1;
}
#top-about .section-title::before {
  color: #ffebee;
  content: "THANKS!!"
}
#top-enjoy .section-title::before {
  color: #e8f5e9;
  content: "ENJOY!";
}
#top-access .section-title::before {
  color: #e3f2fd;
  content: "GO!";
}

#top .view-more {
  border-radius: 24px;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  margin: 2rem 10%;
  width: 80%;
}

#top-pdf .card-action a,
#top-pdf .card-action a:visited { color: #0d47a1; }

/*** sub-page ***/
.sub {
  position: relative;
  margin-top: 64px;
}
.sub::before {
  background: center center /cover no-repeat fixed;
  content: "";
  height: calc(100vh - 64px);
  left: 0;
  margin-top: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.sub .main-section {
  margin: 5vh 0 10vh;
}
.sub .section-title {
  line-height: 6rem;
  margin: 0 0 3vh;
  text-align: center;
}
.sub .gallery figure {
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 6px;
  margin: 2vh 5%;
  padding: 1rem 0 0;
  width: 90%;
}
.sub .gallery figure img {
  margin: 0 10% 1rem;
  width: 80%;
}
.sub .gallery figcaption {
  font-size: 80%;
  font-weight: bold;
  line-height: 120%;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
.sub .col .row { /* 小型端末におけるcontainer幅からコンテンツがはみ出る設定を削除 */
  margin: 0;
}
.right-col {
  margin-top: 5vh;
}
.right-col .pinned {
  position: fixed;
}
.table-of-contents ul {
  padding-left: 1.6rem;
}
.table-of-contents > li > a.active {
  border-left: 4px solid;
  font-weight: bold;
}
.table-of-contents > li > a:hover {
  border-left-width: 2px;
}


/*** background ***/
#about-page::before,
#about-page #navbar { background-image: url('/30/images/bg/bg-about.jpg'); }
#about-page .page-footer { background-color: transparent !important; }
#timetable-page::before { background-image: url('/30/images/bg/bg-timetable.jpg'); }
#special-page::before { background-image: url('/30/images/bg/bg-special.jpg'); }
#access-page::before { background-image: url('/30/images/bg/bg-access.jpg'); }

/* timetable page */
.timetable th {
  height: 2rem;
}
.timetable .time-col {
  width: 10%;
}
.timetable .onstage-col, .timetable .live-col {
  width: 45%;
}
.timetable th {
  font-weight: normal;
  font-size: 1.2rem;
  vertical-align: 0%;
}
.timetable thead th {
  background-color: #c2c2c2;
  vertical-align: middle;
}
.timetable .card {
  margin: 0;
  height: 100%;
}
@-moz-document url-prefix(){
  .timetable .card {
    height: auto;
  }
}
.card.red-grad {
  background-color: black;
  background: linear-gradient(135deg, #ff7c6e, #f5317f);
}
.card.green-grad {
  background-color: #54d169;
  background: linear-gradient(135deg, #81C784,#43A047);
}
.card.blue-grad {
  background-color: #1270e3;
  background: linear-gradient(135deg, #59c2ff, #1270e3);
}
.timetable .card-title {
  font-size: 1.8rem;
  margin-bottom: 0 !important;
}
.timetable .event-time {
  font-size: 1.2rem;
  line-height: 2rem;
}
.card-content .collapsible {
  border: none;
}
.timetable .collapsible-header, .timetable .collapsible-body {
  background-color: #fff;
  color: #333;
}
.card-content .collapsible-header {
  box-shadow: inherit;
  line-height: 2rem;
  justify-content: space-between;
}
.card-content .collapsible-header .material-icons {
  margin: 0;
}

/*** circle-search-page ***/
#search-empty {
  display:none;
}
#circle-list-wrapper .collapsible-header {
  font-size: 20px;
}
#circle-list {
  width: 100% !important;
}
#circle-list .sort .material-icons {
  font-size: 16px;
  line-height: 2rem;
}
#circle-list th {
  min-width: 6rem;
  line-height: 2rem;
}
#circle-list td {
  text-align: center;
}
#circle-list .location {
  color: #00bcd4;
  cursor: pointer;
}
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 10;
}
.section-subtitle {
  font-size: 24px;
}
#map-highlight {
  display: none;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 60%;
  max-width: 500px;
  z-index: 10;
}
#highlight-img {
  border-radius: 8px;
  width: 100%;
}
#highlight-close {
  position: absolute;
  top: 0;
  width: 48px;
  height: 48px;
  right: 0;
  border-radius: 0 8px 0 8px;
  cursor: pointer;
}
#highlight-close .material-icons {
  font-size: 36px;
  line-height: 48px;
  color: #fff;
  margin: 0 6px;
}

@media screen and (max-width: 992px) {
  .brand-logo {
    margin: 0;
  }
  #navbar.unscrolled .brand-logo {
    transform: translate(-50%, -200%);
  }
  .right-side-footer {
    text-align: left;
  }

  #top .section-title {
    font-size: 5vw;
    height: 15vw;
    line-height: 15vw;
    padding-left: 1.2rem;
    border-left-width: .8rem;
  }
  #top .section-title::before {
    font-size: 15vw;
    line-height: 15vw;
  }

  /* sub page */
  .sub .section-title {
    font-size: 7vw;
  }

  /*** circle-search-page ***/
  #circle-list th {
    min-width: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .large { font-size: 130%; }
  .very-large { font-size: 160%; }
  .ultra-large { font-size: 200%; }
  .left-float, .right-float {
    float: none;
  }
  img, svg {
    min-width: 0 !important;
  }
  /*
  .brand-logo img {
    margin: 7px 0;
    height: 42px;
  }
  table tbody th {
    width: 8rem;
  }
  */
  .section-text p {
    font-size: 110%;
    margin: 1rem 0;
  }
  #footer-logo {
    width: 75%;
  }

  /* top */
  #thanks-logo img, #shikosai-logo svg {
    margin: auto 5%;
    max-width: 280px;
    min-width: 0;
    width: 90%;
  }
  #top .section-title {
    font-size: 6vw;
  }

  /* sub page */
  .sub {
    margin-top: 56px;
  }
  .sub::before {
    height: calc(100vh - 56px);
    margin-top: 56px;
  }
  .sub .main-section {
    margin-top: 3vh;
  }
  .sub .section-title {
    padding: 0;
    font-size: 8vw;
    line-height: 4rem;
  }
  .sub .gallery .col {
    padding: 0;
  }
  .sub .gallery figure img {
    height: 100%;
  }

  /* timetable page */
  .timetable .time-col {
    display: none;
  }
  .timetable .onstage-col, .timetable .live-col {
    width: 50%;
  }
  .timetable .card-title {
    font-size: 1.3rem;
    line-height: 1.8rem !important;
  }
  .timetable .card-content {
    padding: 12px;
  }
  .timetable .event-time {
    font-size: 1rem;
    line-height: 2rem;
  }
  .timetable .collapsible {
    border-top: 1px #888 solid;
    box-shadow: none;
    margin: 1rem auto auto;
    transform: translate(-12px, 12px);
    width: calc(100% + 24px);
  }
  .timetable .collapsible-header, .timetable .collapsible-body {
    background-color: transparent;
    color: #fff;
  }
  .timetable .collapsible-body {
    padding: 1rem;
  }

  /*** circle-search-page ***/
  #circle-list {
    font-size: 12px;
  }
  #circle-list thead th:nth-child(5), #circle-list .description {
    display: none;
  }
  #map-highlight {
    max-width: unset;
    width: 80%;
  }
}

@media screen and (max-width: 360px) { /* for iPhone 5s, SE and earlier */
  #thanks-logo img, #shikosai-logo svg {
    margin: auto 5%;
    max-width: 9999px;
    min-width: 0;
    width: 90%;
  }
  .sidenav-trigger::before {
    display: none;
  }
  table tbody th {
    max-width: 6rem;
  }

  .sub .main-section {
    margin-bottom: 4rem;
  }

  .timetable th {
    font-size: 1rem;
  }
}